*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: blueviolet;
}
.container{
    width: 400px;
    background-color: white;
    padding: 30px 25px 45px;
    border-radius: 7px;
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
    color: blueviolet;
}
.container :where(textarea,input,select,button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.container textarea{
    border: 1px solid #ccc;
    height: 270px;
    resize: none;
    padding: 8px 13px;
}
.file-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.file-options .option{
    width:calc(90%/2)
}
.option :where(input,.select-menu){
    height: 50px;
    border: 1px solid #ccc;
    padding: 0px 15px;
    border-radius: 5px;
    margin-top: 5px;
}
.option .select-menu select{
height: 50px;
background: none;
}
.save-btn{
    margin-top: 20px;
    padding:15px 0px;
    color: white;
    background-color: blueviolet;
    border-radius: 7px;
    cursor: pointer;
}